* {
    padding: 0;
    border: 0;
    color: #ffffff;
}
body {
    background-color: #0a0a0a;
}
footer {
    height: 60px;
    width: 100%;
    background-color: #1d1b1b;
    border: 1px;
    border-style: solid;
    border-color: #333333;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}
footer p {
    color: #333333;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}